<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" /> 
    <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.baseurl }}{% else %}{{ "/img/profile.jpg" | prepend: site.baseurl }}{% endif %}" /> 
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" /> 
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}" />
    <meta property="og:type" content="website" />

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
	
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon" />
	
    <!-- Bootstrap core CSS -->
    <link href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/icomoon.css" | prepend: site.baseurl }}">	
    <link rel="stylesheet" href="{{ "/css/animate-custom.css" | prepend: site.baseurl }}">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>
  
    {% include googleAnalytics.html %}
</head>
