<header class="site-header">

	<div id="navbar-main">
      <!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
		  <div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-menu" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm smoothScroll" href="{{ "/#greywrap" | prepend: site.baseurl }}"><strong>Michael Dick</strong></a>
        </div>
			<div class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
			  {% if page.ispost %}
			  <li><a href="{{ "/#greywrap" | prepend: site.baseurl }}" class="smoothScroll">Home</a></li>
			  <li><a href="{{ "/#projects" | prepend: site.baseurl }}" class="smoothScroll">Projects</a></li>
			  {% if site.posts != empty %}<li class="active"><a href="#" class="smoothScroll">Blog</a></li>		{% endif %}		  
			  {% elsif page.ispage %}
			  <li><a href="{{ "/#greywrap" | prepend: site.baseurl }}" class="smoothScroll">Home</a></li>
			  <li class="active"><a href="#projects" class="smoothScroll">Projects</a></li>
			  {% if site.posts != empty %}<li><a href="{{ "/#blog" | prepend: site.baseurl }}" class="smoothScroll">Blog</a></li>	{% endif %}		  
			  {% else %}
			  <li><a href="#greywrap" class="smoothScroll">Home</a></li>
			  <li><a href="#projects" class="smoothScroll">Projects</a></li>
			  {% if site.posts != empty %}<li><a href="#blog" class="smoothScroll">Blog</a></li>	{% endif %}	
			  {% endif %}
			 </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</div>
    </div>

</header>
